* {
	box-sizing: border-box;
}
html, body {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	text-rendering: optimizeLegibility;
	overflow: visible;
}
body#portfolio-background {
background: linear-gradient(
    to bottom, 
    #141414 0%,  /* Darkest Gray */
    #0f0f0f 25%, 
    #0a0a0a 50%, 
    #050505 75%, 
    #000000 100% /* Pure Black */
  );
}
main {
	height: auto;
	min-height: 1000px;
	padding: 45px 0px;
}
#container-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#container {
	margin: 0px 20px 0px ;
	width: 1150px;
	max-width: calc(100% - 40px);
}
h1 {
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 51px;
	line-height: 1;
	margin: 0 0 45px 0;
	text-transform: uppercase;
}


.site-header {
	position: relative;
	width: 100%;
	height: 60px;
	background: linear-gradient(
    to top, 
    #141414 0%,  /* Darkest Gray */
    #0f0f0f 25%, 
    #0a0a0a 50%, 
    #050505 75%, 
    #000000 100% /* Pure Black */
  );
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#logo {
	position: absolute;
	left: calc(50% - 575px);
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}
#logo-large {
	text-align: center;
	margin-bottom: 25px;
	filter: drop-shadow(0px 0px 12px #000);
}
#logo-large svg {
	height: 50px;
	width: auto;
	filter: drop-shadow(0px 0px 8px #000);
  ;
}
#logo-large svg#logo-mp-large {
	opacity: 0;
	transform: scale(0.8);
	animation: fadeInScale 0.8s ease-out forwards;
}
@keyframes fadeInScale {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

#logo-large svg#logo-mp-large .m {
	fill: #fff;
}
#logo-large svg#logo-mp-large .p {
	fill: #0EA3E2;
}

.site-header #logo svg#logo-mp {
	height: 32px;
	width: auto;
}
.site-header div#logo svg#logo-mp .m {
	fill: #fff;
}
.site-header div#logo svg#logo-mp .p {
	fill: rgba(255,255,255,0.35);
}

.nav-center {
	display: flex;
	gap: 20px;
	justify-content: center;
	height: 60px;
	align-items: center;
}
.nav-center a {
	font-family: "aptos", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 1.5;
	border: none;
	color: #fff;
	text-decoration: none;
	transition: .3s ease;
	text-shadow: 0px 0px 2px #000;
	width: 100px;
	text-align: center;
}
.nav-center a:hover {
	color: #fff;
	transition: .3s ease;
	text-decoration: underline;
	text-underline-offset: 6px;
}





#masthead {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
#masthead .txt  {
	width: 90%;
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 51px;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}
#masthead .txt  span {
	font-weight: 700;
	text-decoration: underline;
	font-style: italic;
}
#masthead .urls {
	width: 10%;
	display: flex;
	justify-content: flex-end;
}
#masthead .urls a {
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	justify-content: center;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
#masthead .urls a:hover {
	background-color: #0a66c2;
}
#masthead .urls a svg.linkedin-small {
	width: 13px;
	height: 13px;
	fill: #000;
	display: inline;
}
#masthead .urls a svg.linkedin-small:hover {
	fill: #fff;
}
#masthead .urls a:hover > svg.linkedin-small {
	fill: #fff;
}
#masthead .urls a svg.linkedin-large {
	display: none;
}

#resume {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 50px 0px 0px 0px;
	column-gap: 7%;
}
#resume .section-wrap {
	margin-bottom: 45px;
}
#resume .col-1-container {
	width: 28%;
}
#resume .col-1-container .pfp img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	transition: .5s ease;
}
#resume .col-1-container .name {
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 17px;
	line-height: 1.5;
	margin: 20px 0px 0px 0px;
	width: auto;
	max-width: 100%;
}
#resume .col-1-container .name span {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .05rem;
}
#resume .col-1-container .bio {
	color: rgba(0,0,0,0.7);
	font-family: "aptos", sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: auto;
	line-height: 1.5;
	margin: 35px 0px 0px 0px;
	padding: 0px;
	text-align: justify;
	
	max-width: 100%;
}
#resume .col-1-container .at-a-glance {
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	display: flex;
	position: relative;
	text-transform: uppercase;
}
#resume .col-1-container .at-a-glance > div {
	display: flex;
	position: relative;
	align-content: center;
	align-items: center;
	background: rgba(0,0,0,0.0);
	border-top: 2px solid #000;
	border-right: 0px solid #000;
	border-bottom: 2px solid #000;
	border-left: 0px solid #000;
	flex: none;
	flex-direction: row;
	flex-wrap: nowrap;
	height: auto;
	justify-content: space-between;
	padding: 10px 0px;
	width: 100%;
	max-width: 100%;
	font-family: "aptos", sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 0;
	min-width: max-content;
	column-gap: 10px;
}
#resume .col-1-container .at-a-glance div p.light {
color: rgba(0,0,0,0.7);
}
#resume .col-1-container .at-a-glance .line-2 {
	border: none;
}
#resume .col-1-container .contact {
	display: flex;
	position: relative;
	align-content: center;
	align-items: center;
	background: rgba(0,0,0,0.0);
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 40px;
	justify-content: center;
	margin: 0;
	width: 100%;
	max-width: 100%;
	font-family: "aptos", sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 0;
	text-decoration: none;
	transition: .3s cubic-bezier(.4,.4,0,1);
	text-transform: uppercase;
}
#resume .col-1-container a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
#resume .col-1-container .contact:hover {
	background: rgba(0,0,0,1);
	color: #fff;
	transition: .3s cubic-bezier(.4,.4,0,1);
}
#resume .col-1-container .skills {
	margin: 30px 0px;
}
#resume .col-1-container .skills-sub {
	color: rgba(0,0,0,0.7);
	font-family: "aptos-display", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	margin: 0;
	display: flex;
	flex: none;
	position: relative;
	align-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;
	transform: translate(-5px, 0px);
	transition-duration: 1000ms;
	row-gap: 7px;
	column-gap: 7px;
}
#resume .col-1-container .skills-sub a > div, #resume .col-1-container .skills-sub > div {
	color: rgba(0,0,0,0.7);
	align-content: center;
	align-items: center;
	border: 2px solid rgba(0,0,0,0.7);
	display: flex;
	flex: none;
	position: relative;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: px;
	padding: 0px 15px 0px;
	max-width: calc(100% - 10px);
	line-height: 0;
	border-radius: 16px;
	text-align: center;
	width: auto;
	max-width: 100%;
	height: 32px;
	word-break: break-word;
	overflow: visible;
	overflow-wrap: anywhere;
	transition: .3s cubic-bezier(.4,.4,0,1);
}
#resume .col-1-container .skills-sub a > div:hover {
	background: rgba(0,0,0,1.0);
	border: 2px solid rgba(0,0,0,1.0);
	color: #fff;
	transition: .3s cubic-bezier(.4,.4,0,1);
	cursor: pointer;
}
#resume .col-1-container h2 {
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 17px;
	margin: 30px 0px 15px 0px;
	padding: 0;
}

#resume .col-2-container {
	width: 65%;
}
.section-heading {
	text-transform: uppercase;
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	line-height: 1.5;
	text-align: right;
	margin: 0px 0px 10px 0px;
}
.border-thin {
	background: #000;
	flex: none;
	height: 2px;
	transform-origin: center right;
	transition-duration: 1000ms;
	width: 100%;
	max-width: 100%;
}
.border-thick {
	background: #000;
	flex: none;
	height: 4px;
	margin: 3px 0px 0px 0px;
	transform-origin: center right;
	transition-duration: 1000ms;
	width: 100%;
	max-width: 100%;
}

#resume .job-container {
	display: flex;
	justify-content: space-between;
	line-height: 1;
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-style: normal;
	margin: 30px 0;
}
#resume .job-container .col-1 {
	display: flex;
	column-gap: 1rem;
}
#resume .job-container .company p.company-name {
	font-weight: 600;
	font-size: 18px;
	padding: 0 0 5px 0;
	margin: 0;
}
#resume .job-container .company p.company-name span {
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	font-weight: 400;
	margin-left: 5px;
}
#resume .job-container .company p.company-location {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0 0 5px 0;
}
#resume .job-container .company p.job-title {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0 0 5px 0;
}
#resume .col-1-container .job-container div.company-img img {
	height: 45px;
	width: 45px;
	border-radius: 8px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
#resume .col-2-container .job-container div.company-img img {
	height: 65px;
	width: 65px;
	border-radius: 12px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#resume .job-container div.company-img {
	opacity: 1.0;
	transition: opacity 300ms ease-in-out;
	cursor: pointer;
}

#resume .job-container div.company-img:hover {
	opacity: 0.8;
	transition: opacity 300ms ease-in-out;
	cursor: pointer;
}

#resume .job-container .col-2 p {
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 5px 0;
	margin: 0;
	text-align: right;
	padding-top: 3px;
}
#resume .job-description p {
	color: rgba(0,0,0,0.7);
	font-family: "aptos", sans-serif;
	font-size: 15px !important;
	font-weight: 400;
	font-style: normal;
	height: auto;
	line-height: 1.5;
	text-align: justify;
	margin: 0;
	padding: 0;
	align-content: flex-start;
}
#resume .job-description ul {
	color: rgba(0,0,0,0.7);
	font-family: "aptos", sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	height: auto;
	line-height: 1.5;
	text-align: justify;
	margin: 15px 0 0 0;
	padding: 0 0 0 14px;
	display: flex;
	flex-direction: column;
	gap: 6px;

}
#resume .job-description .list-columns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#resume .job-description .list-columns ul.column {
	flex: 1;
	list-style-type: disc;
	margin: 15px 0 0 0;
	padding: 0 0 0 14px;
}

#resume .break {
	background: rgba(0,0,0,0.1);
	flex: none;
	height: 1px;
	transition-delay: 300ms;
	transition-duration: 1000ms;
	width: 100%;
	max-width: 100%;
	margin-top: 30px;
}

div#download-as {
	color: rgba(0,0,0,0.8);
	font-family: "aptos", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	margin: 0px 0px 30px 0px;
	display: flex;
	column-gap: 4px;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: center;

}
div#download-as a {
	color: rgba(0,0,0,0.8);
	font-weight: 600;
	font-size: 13px;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
	transition: .3s ease;
}
div#download-as a:hover {
	color: rgba(0,0,0,1.0);
	transition: .3s ease;
}
div#download-as a:hover > span {
	border-bottom: 1px dotted rgba(0,0,0,1.0);
	transition: .3s ease;
}
div#download-as a svg {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: top;
}


h1.portfolio {
	color: #fff;
	text-align: center;
	width: 100%;
	font-weight: 900;
	font-family: "aptos", sans-serif;
	font-style: normal;
	text-shadow: 0px 0px 15px #000;
	margin: 0;
}
#portfolio {
	margin-top: 120px;
	margin-bottom: 70px;
}
#portfolio .featured-intro-wrap {
	display: flex;
	justify-content: space-between;
}
#portfolio .featured-intro {
	color: #C8C8C8;
	text-transform: uppercase;
	font-family: "aptos-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 1;
}
#portfolio .featured-intro::before {
	content: "[";
	margin-right: 1px;
}
#portfolio .featured-intro::after {
	content: "]";
	margin-left: 1px;
}
#portfolio #featured-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	column-gap: 12px;
	row-gap: 12px;
}
#portfolio #featured-wrap .img-container {
	position: relative;
	width: 375.33px;
  	height: 281.5px;
	border-radius: 16px;
  	overflow: hidden;
	filter: drop-shadow(0px 0px 12px #000);
}

#portfolio #featured-wrap .img-container img {
	width: 375.33px;
  	height: auto;
  	object-fit: cover;
	display: block;
}
#portfolio #featured-wrap .img-container a img {
	transition: transform 0.3s ease;
}
#portfolio #featured-wrap .img-container a img:hover {
	transform: scale(1.03);
	filter: brightness(1.08);
	transition: transform 0.3s ease;
}

#portfolio #featured-wrap .img-container .caption {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
	font-family: "aptos", sans-serif;
	text-shadow: 0px 0px 4px #000;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 4px 8px;
	border-radius: 2px;
	text-transform: uppercase;
}


#references {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	column-gap: 45px;
	row-gap: 45px;
}
#references .reference {
	display: flex;
	gap: 15px;
	min-width: 325px;
}
.reference {
	font-family: "aptos", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}
.reference .col-1 > div, .reference .col-2 > div {
	display: flex;
	align-items: center;
	height: 30px;

}
.reference .col-1 > div {
	justify-content: flex-end;
	
}
.reference .col-1 {
	font-family: "aptos-display", sans-serif;
	color: rgba(0,0,0,0.7);
	text-align: right;
	font-weight: 700;
	font-variant: small-caps;
	text-transform: lowercase;
	column-gap: 30px;
}

.reference a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted #000;
	padding-bottom: 2px;
	transition: all 0.3s ease;
}
.reference a:hover {
	border-bottom: 1px dotted transparent;
	transition: all 0.3s ease;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0px auto;
	padding: 20px 0px;
	max-width: 100%;
	background: linear-gradient(
    to top, 
    #141414 0%,  /* Darkest Gray */
    #0f0f0f 25%, 
    #0a0a0a 50%, 
    #050505 75%, 
    #000000 100% /* Pure Black */
  );
}
footer div {
	font-family: "aptos-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 1;
	color: #C8C8C8;
	margin: 0;
	padding: 0;
	text-align: center;
}
footer p {
	margin: 0;
	padding: 0;	
}
footer p svg {
	height: 20px;
}
footer p svg#logo-mp .m {
	fill: #C8C8C8;
}
footer p svg#logo-mp .p {
	fill: #C8C8C8;
}

.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.animate.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
	#resume {
		display: inline-block;
	}
	#resume .col-1-container, #resume .col-2-container {
		width: 100%;
	}
	#resume p {
		text-align: left;
	}
	#resume .col-1-container .bio p {
		text-align: center;
	}
	#resume .pfp {
		text-align: center;
	}
	#resume .col-1-container .pfp img {
		border-radius: 16px;
		width: 100%;
		height: auto;
		transition: 2s ease;
	}
	#resume .section-heading {
		text-align: center;
	}
	#masthead {
		flex-direction: column;
		row-gap: 30px;
		align-items: center;
	}
	#masthead .txt {
		width: 100%;
		justify-content: center;
	}
	#masthead .urls {
		width: 100%;
		justify-content: center;
	}
	#masthead .urls a svg.linkedin-small {
		display: none;
	}
	#masthead .urls a svg.linkedin-large {
		display: inline;
		height: 30px;
		width: auto;
		border: none;
	}
	#masthead .urls a {
		border-radius: 0;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 30px;
		width: 100%;
		max-width: 100%;
		height: 40px;
	}
	#masthead .urls a:hover {
		background: radial-gradient(circle,
		rgba(253, 253, 253, 1) 0%,
		rgba(252, 252, 252, 1) 30%,
		rgba(250, 250, 250, 1) 70%,
		rgba(249, 249, 249, 1) 100%);
	}

}
