* {
	box-sizing: border-box;
}

/* Base (hidden) */
.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

/* Revealed on scroll */
.animate.visible {
  opacity: 1;
  transform: translateY(0);
}





body {
	text-rendering: optimizeLegibility;
}
#header {
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 1000;
	height: 60px;
	margin: 0;
	transition-delay: 0ms;
	transition-duration: 1000ms;
	width: calc(100% - 40px);
	max-width: calc(100% - 40px);
	background-color: #fff;
}
#header p {
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	height: auto;
	line-height: 1.5;
	text-align: center;
	width: auto;
	max-width: 100%;
	justify-content: center;
}
#header header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	column-gap: 3em;
}
#header a {
	color: rgba(0,0,0,1.0);
	text-decoration: none;
	transition: .3s ease;
}
#header a:hover {
	color: rgba(0,0,0,0.7);
	transition: .3s ease;
}

#container-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#container {
	margin: 0px 20px 0px ;
	width: 1160px;
	max-width: calc(100% - 40px);
}

#masthead {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
#masthead .txt  {
	width: 70%;
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 51px;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}
#masthead .txt  span {
	font-weight: 700;
	text-decoration: underline;
	font-style: italic;
}
#masthead .urls {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}
#masthead .urls a {
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	justify-content: center;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
#masthead .urls a:hover {
	background-color: #0a66c2;
}
#masthead .urls a svg {
	width: 13px;
	height: 13px;
	fill: #000;
}
#masthead .urls a svg:hover {
	fill: #fff;
}
#masthead .urls a:hover > svg {
	fill: #fff;
}

#resume {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 50px 0px 0px 0px;
	column-gap: 7%;
}
#resume .section-wrap {
	margin-bottom: 45px;
}
#resume .col-1-container {
	width: 28%;
}
#resume .col-1-container .pfp img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	transition-delay: 300ms;
	transition-duration: 1000ms;
}
#resume .col-1-container .name {
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 17px;
	line-height: 1.5;
	margin: 20px 0px 0px 0px;
	width: auto;
	max-width: 100%;
}
#resume .col-1-container .name span {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .05rem;
}
#resume .col-1-container .bio {
	color: rgba(0,0,0,0.7);
	font-family: "aptos", sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: auto;
	line-height: 1.5;
	margin: 35px 0px 0px 0px;
	padding: 0px;
	text-align: justify;
	width: 600px;
	max-width: 100%;
}
#resume .col-1-container .at-a-glance {
	align-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex: none;
	position: relative;
	text-transform: uppercase;
}
#resume .col-1-container .at-a-glance > div {
	display: flex;
	position: relative;
	align-content: center;
	align-items: center;
	background: rgba(0,0,0,0.0);
	border-top: 2px solid #000;
	border-right: 0px solid #000;
	border-bottom: 2px solid #000;
	border-left: 0px solid #000;
	flex: none;
	flex-direction: row;
	flex-wrap: nowrap;
	height: auto;
	justify-content: space-between;
	padding: 10px 0px;
	width: 100%;
	max-width: 100%;
	font-family: "aptos", sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 0;
}
#resume .col-1-container .at-a-glance .line-2 {
	border: none;
}
#resume .col-1-container .contact {
	display: flex;
	position: relative;
	align-content: center;
	align-items: center;
	background: rgba(0,0,0,0.0);
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	flex: none;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 40px;
	justify-content: center;
	margin: 0;
	width: 100%;
	max-width: 100%;
	font-family: "aptos", sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 0;
	text-decoration: none;
	transition: .3s cubic-bezier(.4,.4,0,1);
	text-transform: uppercase;
}
#resume .col-1-container a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
#resume .col-1-container .contact:hover {
	background: rgba(0,0,0,1);
	color: #fff;
	transition: .3s cubic-bezier(.4,.4,0,1);
}
#resume .col-1-container .skills {
	margin: 30px 0px;
}
#resume .col-1-container .skills-sub {
	color: rgba(0,0,0,0.7);
	font-family: "aptos-display", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	margin: 0;
	display: flex;
	flex: none;
	position: relative;
	align-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;
	transform: translate(-5px, 0px);
	transition-duration: 1000ms;
	row-gap: 7px;
	column-gap: 7px;
}
#resume .col-1-container .skills-sub a > div, #resume .col-1-container .skills-sub > div {
	color: rgba(0,0,0,0.7);
	align-content: center;
	align-items: center;
	border: 2px solid rgba(0,0,0,0.7);
	display: flex;
	flex: none;
	position: relative;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: px;
	padding: 0px 15px 0px;
	max-width: calc(100% - 10px);
	line-height: 0;
	border-radius: 16px;
	text-align: center;
	width: auto;
	max-width: 100%;
	height: 32px;
	word-break: break-word;
	overflow: visible;
	overflow-wrap: anywhere;
	transition: .3s cubic-bezier(.4,.4,0,1);
}
#resume .col-1-container .skills-sub a > div:hover {
	background: rgba(0,0,0,1.0);
	border: 2px solid rgba(0,0,0,1.0);
	color: #fff;
	transition: .3s cubic-bezier(.4,.4,0,1);
	cursor: pointer;
}
#resume .col-1-container h2 {
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 17px;
	margin: 30px 0px 15px 0px;
	padding: 0;
}

#resume .col-2-container {
	width: 65%;
}
#resume .section-heading {
	text-transform: uppercase;
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	line-height: 1.5;
	text-align: right;
	margin: 0px 0px 10px 0px;
}
#resume .border-thin {
	background: #000;
	flex: none;
	height: 2px;
	transform-origin: center right;
	transition-duration: 1000ms;
	width: 100%;
	max-width: 100%;
}
#resume .border-thick {
	background: #000;
	flex: none;
	height: 4px;
	margin: 3px 0px 0px 0px;
	transform-origin: center right;
	transition-duration: 1000ms;
	width: 100%;
	max-width: 100%;
}

#resume .job-container {
	display: flex;
	justify-content: space-between;
	line-height: 1;
	color: #000;
	font-family: "aptos-display", sans-serif;
	font-style: normal;
	margin: 30px 0;
}
#resume .job-container .col-1 {
	display: flex;
	column-gap: 1rem;
}
#resume .job-container .company p.company-name {
	font-weight: 600;
	font-size: 18px;
	padding: 0 0 5px 0;
	margin: 0;
}
#resume .job-container .company p.company-name span {
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	font-weight: 400;
	margin-left: 5px;
}
#resume .job-container .company p.company-location {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0 0 5px 0;
}
#resume .job-container .company p.job-title {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0 0 5px 0;
}
#resume .col-1-container .job-container div.company-img img {
	height: 45px;
	width: 45px;
	border-radius: 8px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
#resume .col-2-container .job-container div.company-img img {
	height: 65px;
	width: 65px;
	border-radius: 12px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#resume .job-container div.company-img {
	opacity: 1.0;
	transition: opacity 300ms ease-in-out;
	cursor: pointer;
}

#resume .job-container div.company-img:hover {
	opacity: 0.8;
	transition: opacity 300ms ease-in-out;
	cursor: pointer;
}

#resume .job-container .col-2 p {
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 5px 0;
	margin: 0;
	text-align: right;
	padding-top: 3px;
}
#resume .job-description p {
	color: rgba(0,0,0,0.7);
	font-family: "aptos", sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	height: auto;
	line-height: 1.5;
	text-align: justify;
	margin: 0;
	padding: 0;
	align-content: flex-start;
}
#resume .job-description ul {
	color: rgba(0,0,0,0.7);
	font-family: "aptos", sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	height: auto;
	line-height: 1.5;
	text-align: justify;
	margin: 15px 0 0 0;
	padding: 0 0 0 14px;
	display: flex;
	flex-direction: column;
	gap: 6px;

}
#resume .job-description .list-columns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#resume .job-description .list-columns ul.column {
	flex: 1;
	list-style-type: disc;
	margin: 15px 0 0 0;
	padding: 0 0 0 14px;
}

#resume .break {
	background: rgba(0,0,0,0.1);
	flex: none;
	height: 1px;
	transition-delay: 300ms;
	transition-duration: 1000ms;
	width: 100%;
	max-width: 100%;
	margin-top: 30px;
}

div#download-as {
	color: rgba(0,0,0,0.8);
	font-family: "aptos", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	margin: 30px 0px;
	display: flex;
	column-gap: 4px;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: center;
}
div#download-as a {
	color: rgba(0,0,0,0.8);
	font-weight: 600;
	font-size: 13px;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
	transition: .3s ease;
}
div#download-as a:hover {
	color: rgba(0,0,0,1.0);
	transition: .3s ease;
}
div#download-as a:hover > span {
	border-bottom: 1px dotted rgba(0,0,0,1.0);
	transition: .3s ease;
}
div#download-as a svg {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: top;
}